html, body {
    font-size: 14px;
}

.app-iframe {
    border: 1px solid red;
}

.card, .navbar-container {
    margin-bottom: 1rem;
}

.logo {
    background: no-repeat url("./images/ringcentral.png") center center;
    background-size: contain;
    width: 140px;
    height: 50px;
    margin-right: 20px;
    display: block;
}

.header {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.app-popup-bg {
    z-index: 3 !important;
}